/* Body of doc Style / Grid Set Up */
body {
    background-image: url(../images/ripples.png);
    font-family: 'PT Sans Narrow', sans-serif;
    justify-content: center;
}

.grid_container {
    display: grid;
    grid-template-areas: 
        "header"
        "body"
        "footer";
    justify-items: center;
}

/* Header Styles */

.head {
    grid-area: header;
    width: 90vw;
}
.head h1{
    font-size: 2.5em;
}
.head h3{
    font-style: italic;
    font-size: 1em;
}

header {
    background-color: #d5edd5;
    text-align: center;
}

/*Body of grid/ main container Styles */
.body {
    grid-area: body;
    background-color: #e0b3b3;
    width: 90vw;
    display: grid; /* body grid within main grid */
    grid-template-areas: 
        "image"
        "timeline";
}
.body h2 {
    text-align: center;
}
.body img {
    width: auto;
    height: 25vw;
    grid-area: image;
    justify-self:center;
    padding-top: 1em;
}
.time_line {
    grid-area: timeline;
}
.quote {
    font-style: italic;
    padding-top: 5vw;
    width: 30vw;
    font-size: 1.5em;
    padding-left: 30vw;
}
.time_line_items {
    padding-left: 15vw;
}
.time_line_items li {
    width: 60vw;
    padding-bottom: 1vw;
    font-size: 1.5em;
}
.link {
    padding-left: 30vw;
    width: 40vw;
    font-size: 1.5em;
}
/* Footer */
footer {
    grid-area: footer;
    text-align: center;
    background-color: #d5edd5;
    width: 90vw;
}